 body {
    width: 100%;
    margin: 0;
    background-color: #313133;
 }
 a:link{
    color: #0BD1DF;
 }
 #outerbody {
    width: 100%;
    margin: 0;
    overflow: hidden;
 }
 #innerbody {
    max-width: 45em;
    margin: 0px auto;
    font-family: Arial;
    color: white;
    padding: 15px;
 }
 .Line {
   stroke: #0BD1DF;
   stroke-width: 3px;
   height: 3px;

 }
 footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;

    text-align: center;
    font-family: DMSans-Medium;
    color: white;

    background-color: #151515;
 }
 #ContactImgs {
    position: relative;
    display: flex;
    justify-content: center;

    height: 40px;
    width: 50%;
    left: 25%;
 }
 #Copywrite {
    font-size: 12px;
 }
 #discord {
    margin: auto 20px;
    height: 90%;

    z-index: 1;
 }
 #twitter {
    margin: auto 20px;
    height: 100%;

    z-index: 1;
 }
 #email {
    margin: auto;
    height: 100%;

    z-index: 1;
 }
